body{
    margin:0;
    padding:0;
    background-color:rgb(252, 247, 247) ;
}
.myname{
    padding:20px;
    width:100%;
    background-color:#22acac;
    height:150px;
    background-size:cover;
    border-radius: 50px;
}
.image0{
    padding:10px;
    margin:10px 0 0 160px;
    background-color: turquoise;
    height:150px;
   
    width:100%;
}
.varsha{
    padding:0 35px 0 180px;
    margin:0px;
    font-family : 'Otomanopee One', sans-serif;
    line-height: 2;
}
.head{
    padding:0 50px 0 50px;
    margin:10px;
    
}



.toptext{
    text-align: center;
    font-weight: 400px;
    font-family: 'Dancing Script', cursive;
   
}
.dog{
    font-family: 'Playfair Display', serif;
}

.image1 {
     padding:10px 20px;
    font-family: 'Uchen', serif;
    margin:10px 0 0 0;
    line-height: 2;
}

.image2{
    
    margin-bottom: 25px;
    width:90%;
    
}
.image3{
    padding:10px 20px;
    margin:10px 0 0 0;
    font-family: 'Uchen', serif;
}
.image4{
    
    margin-bottom: 35px;
    width: 100%;
    line-height: 2;

}
.image5 {
    padding:10px 20px;
    margin:10px;
    font-family: 'Uchen', serif;

}
.side{
    font-family: 'Uchen', serif;
    margin:10px;
    padding:10px  20px;
}
.image6{
    line-height: 2;
    margin: 10px;
    width:100%;

}
.image66{
    margin-bottom: 100px;
}
.image61{
    margin:0 10px;
    width:100%;
}

.footer{
    text-align: center;
    margin: 15px 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 70px;
    color: white;
  }
 .side1 {
    font-family: 'Lobster', cursive;
 }
 .side2{
     
     margin:0 10px;
     width:100%;
 }
 .side3{
     
    margin:0 10px;
    width:100%;
}
.side4{
     
    margin:0 10px;
    width:100%;
}
.we{
    font-family: 'Uchen', serif;
}
.back{
    margin-top: 50px;
    margin-left: 40px;
}
.rest1{
    margin-bottom: 765px;
}
.doh{
    margin-left: 100px;
}
.rest{
    margin-right: 40px;
}